<app-header-back [title]="'Seleccionar'">
  <ion-icon name="arrow-back-sharp" slot="start" class="back-icon" (click)="back()"></ion-icon>
  <ion-icon name="help-circle-sharp" slot="end" class="icon-help" (click)="showPopover($event)"></ion-icon>
</app-header-back>

<ion-label class="text-end" [ngClass]="{'text-danger': selectedMinutesActivities > minutesObjetive}">
  {{selectedMinutesActivities | time}}{{" / "}}{{minutesObjetive | time}}
</ion-label>

<ion-content>

  <ion-list lines="none" mode="md">
    <ion-item *ngFor="let activity of selectedActivities">
      <div class="flex">
        <ion-label class="full-width ion-text-wrap">{{ activity.name + " (" +activity.time + "min)"}}</ion-label>
        <div class="buttons-container">
          <div class="ion-buttons">
            <ion-button color="transparent" (click)="decrement(activity,input)" [disabled]="activity.amount <= 1">
              <ion-icon class="cont-icon color-gradient" name="remove-circle-outline">
              </ion-icon>
            </ion-button>
            <ion-input [debounce]="500" #input name="amount" inputmode="numeric" [value]="1" class="ion-text-center"
              (ionChange)="setAmount(activity,input)"></ion-input>
            <ion-button color="transparent" (click)="increment(activity,input)" [disabled]="activity.amount >= 1000">
              <ion-icon class="cont-icon color-gradient" name="add-circle-outline">
              </ion-icon>
            </ion-button>
            <ion-button (click)="remove(activity)" color="transparent">
              <ion-icon class="cont-icon" name="trash-outline" color="danger">
              </ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </ion-item>

    <ion-item detail>
      <a (click)="showSelectionActivityModal()">Agregar actividad</a>
    </ion-item>

  </ion-list>

</ion-content>

<ion-buttons class="center">
  <ion-button mode="md" expand="block" fill="outline" shape="round" color="danger" class="ion-padding-end size-14" (click)="back()">
    Cancelar</ion-button>
  <ion-button mode="md" expand="block" fill="outline" shape="round" class="ion-padding-start color-gradient size-14" (click)="send()">
    Confirmar</ion-button>
</ion-buttons>