<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-sharp" class="back-icon" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Seleccionar Actividades</ion-title>
    <ion-icon name="help-circle-sharp" slot="end" class="icon-help" (click)="showPopover($event)"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-label class="text-end" [ngClass]="{'text-danger': selectedMinutesActivities > minutesObjetive}">
  {{selectedMinutesActivities | time}}{{" / "}}{{minutesObjetive | time}}
</ion-label>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Seleccionar Actividades</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    <ion-item *ngFor="let activity of selectedActivities">
      <ion-label class="text-wrap">{{ activity.name + " (" +activity.time + "min)"}}</ion-label>
      <ion-buttons slot="end" class="ion-buttons">
        <ion-button color="primary" (click)="decrement(activity)" [disabled]="activity.amount <= 1"><ion-icon class="cont-icon" name="remove-circle-outline"></ion-icon></ion-button>
        <ion-label>{{activity.amount}}</ion-label>
        <ion-button color="primary" (click)="increment(activity)" [disabled]="activity.amount >= 1000"><ion-icon class="cont-icon" name="add-circle-outline"></ion-icon></ion-button>
        <ion-button (click)="remove(activity)" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-select [placeholder]="selectPlaceholder" [selectedText]="selectPlaceholder" cancelText="Cancelar" slot="start"
      okText="Confirmar" [interfaceOptions]="customAlert" (ionChange)="select($event)">
      <ion-select-option *ngFor="let activity of activities" [value]="activity">
        {{ activity.name + " (" +activity.time + " min)"}}
      </ion-select-option>
    </ion-select>
    </ion-item>
  </ion-list>

  

  <ion-buttons class="center">
    <ion-button expand="block" fill="outline" shape="round" color="danger" class="ion-padding-end" (click)="back()">Cancelar</ion-button>
    <ion-button expand="block" fill="outline" shape="round" color="primary" class="ion-padding-start" (click)="send()">Confirmar</ion-button>
  </ion-buttons>

  <!--<cdk-virtual-scroll-viewport itemSize="50" minBufferPx="800" maxBufferPx="1000">
    <ion-list lines="full">
      <ion-item *cdkVirtualFor="let activity of activities | filter:searchValue:'name'">
        <ion-checkbox slot="start" mode="md" [(ngModel)]="activity.checked" (ionChange)="checkChange(activity)"></ion-checkbox>
        <ion-label class="ion-text-wrap ion-text-capitalize">{{activity.name + " (" + activity.time + " min)"}}</ion-label>
        <ion-buttons *ngIf="activity.checked">
          <ion-button color="danger" (click)="decrement(activity)" [disabled]="activity.amount <= 0"><ion-icon class="cont-icon" name="remove-circle-outline"></ion-icon></ion-button>
          <ion-label>{{activity.amount}}</ion-label>
          <ion-button color="primary" (click)="increment(activity)" [disabled]="activity.amount >= 1000"><ion-icon class="cont-icon" name="add-circle-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>-->

</ion-content>
