<app-encabezado [title]="'Estimacion'">
  <ion-icon name="help-circle-sharp" slot="end" class="icon-help" (click)="mostrarPopover($event)"></ion-icon>
</app-encabezado>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estimacion</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item>
      <ion-select [compareWith]="compareWith" placeholder="Seleccionar Actividades" [selectedText]="seleccionadas"
      (ionChange)="handleChange($event)" [multiple]="true" cancelText="Cancelar" okText="Confirmar" [interfaceOptions]="alertaPersonalizada">
        <ion-select-option *ngFor="let actividad of actividades" [value]="actividad">{{ actividad.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-content>

 