<ion-content>
  <div class="header">
    <ion-icon name="arrow-back-sharp" slot="start" class="ion-margin-start" (click)="back()">
    </ion-icon>
    <h1>Restablecer Contraseña</h1>
    <ion-note>
      ingrese su correo electrónico aquí para restablecer su contraseña
    </ion-note>
  </div>

  <div class="form-container">
    <ion-card>
      <ion-card-content>
        <form [formGroup]="resetForm" novalidate (ngSubmit)="onSubmit()">
          <ion-list lines="full">
            <ion-title class="list-title">Restablecer contraseña</ion-title>
            <ion-item>
              <ion-icon slot="start" name="mail"></ion-icon>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email" inputmode="email" formControlName="email"></ion-input>
              <div *ngFor="let error of errorMessages.email" class="ion-align-self-start">
                <ng-container *ngIf="isInvalid('email',error)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
            </ion-item>
          </ion-list>
          <ion-button shape="round" type="submit" [disabled]="resetForm.invalid" expand="block"
            class="ion-padding-horizontal">Registrar</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
