ion-searchbar{
    margin-top: 1rem;
}

ion-list{
    margin: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

ion-item-divider{
    color: var(--ion-color-primary-shade);
    background-color: inherit;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

ion-item{
    margin: .5rem 0; 
    font-size: 1.2rem;
}

.icon-help{
    font-size: 1.8rem;
    flex: .3 1 0;
}

.bottom-5{
    bottom: 50px !important;
}

.color-gradient{
    --background: linear-gradient(90deg,#3049D9 0%,#3839c8 100% );
}
