<ion-content>
  <div class="header">
    <ion-avatar>
      <ion-img src="../../../assets/icons/app-icon.png" alt="App Icon"></ion-img>
    </ion-avatar>
    <h1>¡ Bienvenido !</h1>
  </div>

  <div class="form-container">
    <ion-card>
      <ion-card-content>
        <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
          <ion-list lines="full">
            <ion-title class="list-title">Iniciar Sesion</ion-title>
            <ion-item>
              <ion-icon slot="start" name="mail"></ion-icon>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email" inputmode="email" formControlName="email"></ion-input>
              <div *ngFor="let error of errorMessages.email" class="ion-align-self-start">
                <ng-container *ngIf="isInvalid('email',error)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="lock-closed-sharp"></ion-icon>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
              <div *ngFor="let error of errorMessages.password" class="ion-align-self-start">
                <ng-container *ngIf="isInvalid('password',error)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
            </ion-item>
            <ion-item>
              <ion-note>
                <a href="reset/password">Olvidaste la contraseña ?</a>
              </ion-note>
            </ion-item>
          </ion-list>
          <ion-button shape="round" type="submit" [disabled]="loginForm.invalid" expand="block"
            class="ion-padding-horizontal">Ingresar</ion-button>
          <ion-item>
            <ion-label class="ion-margin-end">Aun no tenes una cuenta ?</ion-label>
            <a href="registration">Registrate</a>
          </ion-item>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>