<ion-content>
  <div class="header">
    <ion-avatar>
      <ion-img src="assets/icons/app-icon.png" alt="App Icon"></ion-img>
    </ion-avatar>
    <h1>¡ Bienvenido !</h1>
  </div>

  <div class="form-container">
    <ion-card mode="md">
      <ion-card-content>
        <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
          <ion-list lines="full">
            <ion-title class="list-title">Iniciar Sesión</ion-title>
            <ion-item>
              <ion-icon slot="start" name="mail"></ion-icon>
              <ion-label position="floating">E-mail</ion-label>
              <ion-input type="email" inputmode="email" formControlName="email"></ion-input>
              <div *ngFor="let error of errorMessages.email" class="ion-align-self-start">
                <ng-container *ngIf="isInvalid('email',error)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="lock-closed-sharp"></ion-icon>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
              <div *ngFor="let error of errorMessages.password" class="ion-align-self-start">
                <ng-container *ngIf="isInvalid('password',error)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
            </ion-item>
            <ion-item class="note" lines="none">
              <div class="password-options">
                <ion-note>
                  <a href="reset/password">Recuperar Contraseña</a>
                </ion-note>
                <ion-buttons>
                  <div class="remember-me">
                    <ion-note>Recordarme</ion-note>
                    <ion-checkbox #checkBox mode="md" formControlName="remember"></ion-checkbox>
                  </div>
                </ion-buttons>
              </div>
            </ion-item>
            <div class="button-container">
              <ion-button shape="round" type="submit" [disabled]="loginForm.invalid" class="color-gradient">Ingresar
              </ion-button>
            </div>
            <ion-item>
              <ion-label class="ion-margin-end">Aún sin cuenta ?</ion-label>
              <a href="registration">Regístrate</a>
            </ion-item>
          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>