.header{
    min-height: 250px;
    height: 33%;
    background: linear-gradient(90deg,#3049D9 0%,#3839c8 100% );
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.header h1{
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
}

ion-avatar{
    margin-top: 3rem;
    width: 100px;
    height: 100px;
}

ion-img{
    border: 5px solid white;
}

.form-container{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

ion-list{
    padding-top: 0;
}

ion-card{
    border: 1px solid white;
    border-radius: 15px;
}

ion-item{
    display: flex;
    align-items: center;
    --padding-start: 1rem;
    padding: .5rem 0;
}

.note{
    width: 100%;
    --inner-padding-end:0;
    padding-top: 0;
}

.list-title{
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: white;
    padding: 1rem 0;
}

.button-container{
    display: flex;
    justify-content: center;
}

.error-message{
    color: var(--ion-color-danger);
}

.color-gradient{
    --background: linear-gradient(90deg,#3049D9 0%,#3839c8 100% );
}

ion-checkbox {
    margin-left: .5rem;
    --size: 20px;
    --background-checked: linear-gradient(90deg,#3049D9 0%,#3839c8 100% );
}
  
ion-checkbox::part(container) {
    border: 2px solid #3049D9;
}

.password-options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-me{
    white-space: nowrap;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}
