<app-header [title]="'Estimación'">
  <ion-icon name="help-circle-sharp" slot="end" class="icon-help" (click)="showPopover($event)"></ion-icon>
</app-header>

<ion-content>
  <div class="container">
    <ion-list class="ion-align-items-center" mode="md">
      <form [formGroup]="estimationForm" novalidate (ngSubmit)="onSubmit()" #form>
        <ion-item counter="true">
          <ion-icon slot="start" name="business"></ion-icon>
          <ion-label position="floating">Institución</ion-label>
          <ion-input inputmode="text" formControlName="institute" maxlength="255"></ion-input>
          <div class="error-message" *ngFor="let error of errorMessages.institute">
            <ng-container *ngIf="isInvalid('institute',error)">
              <small>{{error.message}}</small>
            </ng-container>
          </div>
        </ion-item>

        <ion-item counter="true">
          <ion-icon slot="start" name="library"></ion-icon>
          <ion-label position="floating">Materia</ion-label>
          <ion-input inputmode="text" formControlName="subject" maxlength="255"></ion-input>
          <div class="error-message" *ngFor="let error of errorMessages.subject">
            <ng-container *ngIf="isInvalid('subject',error)">
              <small>{{error.message}}</small>
            </ng-container>
          </div>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="calendar-number"></ion-icon>
          <ion-label position="floating">Año Académico</ion-label>
          <ion-input inputmode="numeric" type="number" formControlName="year"></ion-input>
          <div class="error-message" *ngFor="let error of errorMessages.year">
            <ng-container *ngIf="isInvalid('year',error)">
              <small>{{error.message}}</small>
            </ng-container>
          </div>
        </ion-item>

        <ion-item>
          <ion-select placeholder="Seleccionar período lectivo" formControlName="period" cancelText="Cancelar"
            okText="Confirmar">
            <ion-select-option *ngFor="let period of period" [value]="period">{{period}}</ion-select-option>
          </ion-select>
          <div class="error-message" *ngFor="let error of errorMessages.period">
            <ng-container *ngIf="isInvalid('period',error)">
              <small>{{error.message}}</small>
            </ng-container>
          </div>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="time"></ion-icon>
          <ion-label position="floating">Carga Horaria (Hs)</ion-label>
          <ion-input debounce="500" inputmode="numeric" type="number" formControlName="workloadHs"
            (ionChange)="handle()">
          </ion-input>
          <ion-icon slot="end" name="information-circle-outline" id="icon-end"
            (click)="showPopoverInputWorkload($event)"></ion-icon>
          <div class="error-message" *ngFor="let error of errorMessages.workloadHs">
            <ng-container *ngIf="isInvalid('workloadHs',error)">
              <small>{{error.message}}</small>
            </ng-container>
          </div>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="calculator"></ion-icon>
          <ion-label position="floating">Virtualización %</ion-label>
          <ion-input debounce="500" inputmode="numeric" type="number" formControlName="virtualizationPercent"
            (ionChange)="handle()">
          </ion-input>
          <ion-icon slot="end" name="information-circle-outline" id="icon-end"
            (click)="showPopoverInputVirtualization($event)"></ion-icon>
          <div class="error-message" *ngFor="let error of errorMessages.virtualizationPercent">
            <ng-container *ngIf="isInvalid('virtualizationPercent',error)">
              <small>{{error.message}}</small>
            </ng-container>
          </div>
        </ion-item>

        <ion-item detail>
          <ion-label>
            <a (click)="showSelectModal()">Seleccionar Actividades</a>
          </ion-label>
        </ion-item>

        <ion-item [ngClass]="{'text-danger': selectedMinutesActivities > minutesObjective}">
          <ion-label slot="end">{{selectedMinutesActivities | time}}{{" / "}}{{minutesObjective | time}}</ion-label>
        </ion-item>
        <div class="button-container">
          <ion-button shape="round" class="color-gradient" [disabled]="estimationForm.invalid" type="submit">Enviar
          </ion-button>
        </div>
      </form>
    </ion-list>
  </div>

</ion-content>