<app-header [title]="'Actividades Standar'">
  <ion-icon name="help-circle-sharp" slot="end" class="icon-help" (click)="showPopover($event)"></ion-icon>
</app-header>

<!--search bar-->
<ion-searchbar placeholder="Buscar" (ionChange)="search($event)"></ion-searchbar>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Actividades Standar</ion-title>
    </ion-toolbar>
  </ion-header>

  <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="800" maxBufferPx="1000">
    <ion-list lines="full">
      <ion-item *cdkVirtualFor="let activity of activities | filter:searchValue:'name'">
        <ion-label class="ion-text-wrap ion-text-capitalize" (click)="presentAlert(activity)">{{activity.name}}</ion-label>
      </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>

</ion-content>
