<app-header [title]="'Inicio'">
  <ion-icon name="help-circle-sharp" slot="end" class="icon-help" (click)="showPopover($event)"></ion-icon>
</app-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card *ngFor="let i of items" (click)="redirect(i.url)" class="card">
      <div class="card-container">
        <div class="icon-container">
          <div class="icon-bubble">
            <ion-icon [name]="i.icon" class="card-icon"></ion-icon>
          </div>
        </div>
        <div class="card-text">
          <ion-card-header>
            <ion-card-title>{{i.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-note>{{i.description}}</ion-note>
          </ion-card-content>
        </div>
      </div>
    </ion-card>
  </div>

</ion-content>


