ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  
  ion-menu.md ion-content {
    --padding-start: .8rem;
    --padding-end: .8rem;
    --padding-top: 1rem;
  }
  
  .menu-header{
    width: 100%;
    background-color: #3049D9;
    background: linear-gradient(90deg,#3049D9 0%,#3839c8 100% );
    box-shadow: 0px 1px 5px rgba(98,140,255,0.5);
    padding: 1rem;
    border-radius: 5px;
  }
  
  /* username */
  .menu-header-content ion-title{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    text-align: center;
  }
  
  /*img logo*/
  .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo{
    min-height: 100px;
    min-width: 100px;
    border: 7px solid var(--ion-color-step-150, #d7d8da);
    object-fit: cover;
  }
  
  /* email */
  ion-menu.md ion-note {
    width: 100%;
    text-align: center !important;
    padding-left: 1rem;
    letter-spacing: .05rem;
  }
  
  ion-menu.md ion-list {
    padding: 1rem 0;
  }
  
  /* linea separadora entre listas */
  ion-menu.md ion-list.border{
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  ion-menu.md ion-item {
    --padding-start: .5rem;
    --padding-end: 1rem;
    border-radius: 5px;
  }
  
  ion-menu.md ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.12);
  }
  
  ion-menu.md ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.md ion-item ion-icon {
    color: #616e7e;
  }
  
  ion-menu.ios ion-content {
    --padding-bottom: 20px;
  }
  
  ion-menu.ios ion-list {
    padding: 20px 0 0 0;
  }
  
  ion-menu.ios ion-note {
    line-height: 24px;
    margin-bottom: 20px;
  }
  
  ion-menu.ios ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }
  
  ion-menu.ios ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-menu.ios ion-item ion-icon {
    font-size: 24px;
    color: #73849a;
  }
  
  ion-menu.ios ion-list-header,
  ion-menu.ios ion-note {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  ion-menu.ios ion-note {
    margin-bottom: 8px;
  }
  
  ion-note {
    display: inline-block;
    font-size: .9rem;
    color: var(--ion-color-medium-shade);
  }
  
  ion-item.selected {
    --color: var(--ion-color-primary);
  }