<app-header-back [title]="'Seleccionar'">
  <ion-icon name="arrow-back-sharp" slot="start" class="back-icon" (click)="back()"></ion-icon>
  <ion-icon name="help-circle-sharp" slot="end" class="icon-help" (click)="showPopover($event)"></ion-icon>
</app-header-back>

<!--search bar-->
<ion-searchbar placeholder="Buscar" mode="md" enterkeyhint="search" type="search" (ionChange)="search($event)"></ion-searchbar>

<ion-content>

  <ion-list lines="inset" mode="md">
    <ion-item-group *ngFor="let item of alphabeticalMap">
      <ion-item-divider>
        <ion-label>
          {{ item.letter }}
        </ion-label>
      </ion-item-divider>
        <ion-item *ngFor="let activity of item.activities | filter:searchValue:'name'">
          <ion-checkbox #checkBox slot="start" mode="md" (ionChange)="check(checkBox,activity)"></ion-checkbox>
          <ion-label class="ion-text-wrap ion-text-capitalize" (click)="presentAlert(activity)">{{activity.name}}</ion-label>
        </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-buttons class="center">
  <ion-button expand="block" mode="md" fill="outline" shape="round" color="danger" class="ion-padding-end size-14" (click)="back()">
    Cancelar</ion-button>
  <ion-button expand="block" mode="md" fill="outline" shape="round" class="ion-padding-start color-gradient size-14" (click)="send()">
    Confirmar</ion-button>
</ion-buttons>
