ion-list{
    margin: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

ion-item-divider{
    color: var(--ion-color-primary-shade);
    background-color: inherit;
    padding: .5rem 1rem; 
    font-size: 1.5rem;
    font-weight: 600;
}

ion-item{
    margin: .5rem 0; 
    font-size: 1.2rem;
    padding-left: .5rem;
}

.icon-help{
    font-size: 1.8rem;
    flex: .3 1 0;
}

.back-icon{
    margin-left: 1rem;
    font-size: 1.8rem;
}

ion-searchbar{
    margin-top: 1rem;
}

ion-checkbox {
    --size: 28px;
    --background-checked: linear-gradient(90deg,#3049D9 0%,#3839c8 100% );
}
  
ion-checkbox::part(container) {
    border-radius: 50%;
    border: 2px solid #3049D9;
}

.center{
    display: flex;
    justify-content: center;
    margin: 2rem 0; 
}

.ion-buttons ion-button{
    --box-shadow: 0;
}

.color-gradient{
    color: #3049D9;
}